@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/*비디오 안 큰텍스트*/
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
/*비디오 안 작은텍스트*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* 웰컴문구*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-height: 100vh;
    /*height: 100%;*/
}

.wrapper {
    min-height: 100%;
    /*padding-bottom: 250px; 푸터의 높이를 빼줘야함.
    height: auto;*/
}

.nav {
    margin: 0 auto;
    justify-content: space-between;
    position: absolute;
    display: flex;
    top: 0%;
    width: 100%;
    height: 70px;
    z-index: 999;

}

.logo {
    padding: 10px;
}

.logo img {
    width: 230px;
}

.nav ul {
    list-style: none;
    padding-top: 17px;
}

.nav_item {
    display: inline-block;
    padding-right: 30px;
    font-size: 19px;
    font-weight: 600;
    font-family: 'Heebo', sans-serif;
}

.nav_item_link {
    display: block;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/*-------------------------비디오 시작-----------------------*/
.video_wrap {
    width: 100%;
    height: 620px;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
}

.textBox {
    position: absolute;
    top: 45%;
    width: 100%;
    padding-left: 50px;
}

.textBox_text1 {
    color: white;
    font-size: 60px;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Staatliches', cursive;
    margin-top: 0px;
    margin-bottom: 0px;
    filter: drop-shadow(2px 5px 3px #444444);
}

.textBox_text2 {
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 25px;
    font-family: 'Heebo', sans-serif;
}

.video_wrap video {
    width: 100%;
}

/*--------------------소개말 및 배너 시작------------------------*/
.info {
    width: 100%;
    height: 300px;
    text-align: center;
}

.info p {
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.info_text1 {
    font-size: 50px;
    padding-top: 20px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 4px;
    color: #577b0d;
    /*4d693f*/
}

.info img {
    width: 230px;
    transform: translateY(50px);
    opacity: 0;
    margin: 5px;
    transition: opacity 1s ease, transform 1s ease;
}

.info_text2 {
    font-size: 16px;
    padding-top: 5px;
    font-family: 'Heebo', sans-serif;
    color: #757575;
}

.banner {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-image: linear-gradient(0deg, #e3f09d 1%, white);
}

.banner a {
    text-decoration-line: none;
}

.banner_item {
    width: 360px;
    height: 80px;
    background-color: white;
    //border: 1px dotted #939393;
    filter: drop-shadow(0px 0px 7px #bababa);
    margin: 0 10px 0 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemPic {
    width: 40px;
}

.itemPic1 {
    /*쇼핑백 이미지만 커서 따로 클래스명 설정*/
    width: 30px;
}

.banner_item p {
    padding: 0 15px 0 15px;
    font-size: 22px;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    color: #6b893d;
    /*#709040*/
}

/*--------------------소개사진----------------------*/
.intro {
    width: 100%;
    height: 1100px;
    display: grid;
    grid-template-columns: 470px 600px;
    grid-template-rows: 680px 350px;
    justify-content: center;
}

.introItem {
    margin: 15px;
    overflow: hidden;
}

.introItem img {
    object-fit: cover;
    width: 100%;
}

.intro2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introText {
    width: 80%;
}

.introText h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
    color: #4d693f;
    letter-spacing: 7px;
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.introText p {
    margin: 15px 0;
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.firstP {
    color: #f0bc5a;
    font-weight: 600;
}

.secondP {
    color: #4c4c4c;
}

.ad_Pic.fadeIn,
.introText h2.fadeIn,
.introText p.fadeIn,
.timeTableWrap p.fadeIn,
.info p.fadeIn,
.info img.fadeIn {
    opacity: 1;
    transform: translateY(0);
}

.timeTable {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('img/fixedBack.jpg');
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #4d693f;
    height: 500px;
    color: white;
}

.timeTitle {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
}

.timeTableWrap p {
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.timeP1 {
    padding: 40px 0 20px;
    font-weight: 500;
    font-size: 22px;
    font-family: 'Manrope', sans-serif;
}

.timeP2 {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
}

/*---------------광고 이미지-----------------*/
.advertise {
    width: 100%;
}

.ad_Pic {
    width: 100%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

/*
.ad_Pic.fadeIn{
    opacity: 1;
    transform: translateY(0);
}*/

/*---------------이벤트 배너 수정중-----------------*/
.eventWarp {
    width: 100%;
    height: 530px;
    background-color: antiquewhite;
}

.eventTitle {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    background-color: aquamarine;
}

.eventItemWrap {
    position: relative;
    width: 1200px;
    height: 450px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: coral;
    border: 1px solid;
}

.eventItem {
    position: relative;
    width: 300px;
    height: 100%;
    background-color: gold;
    margin: 0 20px;
    overflow: hidden;
}

.eventItem img {
    object-fit: cover;
    width: 100%;
    background: linear-gradient(to bottom, #00000000, #000000cc);
}

/*
.event1{
    background: linear-gradient(
    
    
    
    
    ),
    url("img/latte.jpg");
    background-repeat: no-repeat;
}
*/

.container {
    display: grid;
    //background-color: gold;
    margin: 0 auto;
    /*    width: 1000px;*/
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: repeat(2, 550px);
    justify-content: center;
}

.item {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    display: flex;
    /*가운데 정렬*/
    text-align: center;
    justify-content: center;
    /*수평 가운데*/
    //align-items: center; /*수직 가운데*/
}

.foods {
    width: 350px;
    height: 350px;
    filter: drop-shadow(0px 0px 20px #7c7c7c);
    transition: all 0.2s linear;
    cursor: pointer;
}

.foods:hover {
    transform: scale(1.05);
}

.item1 {
    background-color: white;
}

.item2 {
    background-color: white;
    /*#e4ef9e*/
}

.item3 {
    background-color: white;

}

.item4 {
    background-color: white;
    /*#9eef9e;*/
}

.item5 {
    background-color: white;
    /*#9ed3ef*/
}

.item6 {
    background-color: white;
    /*#9eb4ef*/
}

/*-----------------로그인 및 회원가입창-------------*/
.loninWrapper {
    width: 500px;
    padding: 30px 80px;
    margin: 40px auto;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    border-radius: 10px;
    text-align: center;
    opacity: 90%;
    box-shadow: 0 0 10px (0, 0, 0, .2);
    font-family: 'Heebo', sans-serif;
}

.loninWrapper h3 {
    font-size: 43px;
    color: #ffffff;
    margin-bottom: 30px;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 3px;
}

.inputLabel {
    display: block;
    position: relative;
    margin-bottom: 15px;
}

form input {
    border-radius: 2px;
    width: 100%;
    outline: none;
    border: 1px solid white;
    padding: 11px 12px;
    background-color: antiquewhite;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
}

.inputLabel i {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -1px;
    border-bottom: 2px solid #7dcc22;
    transition: all .3s;
}

.inputLabel input:focus + i {
    left: 0;
    right: 0;
    transition: all .3s;
}

.inputLabel input:focus {
    border: 1px solid #b2b2b2;
}

.division {
    margin: 0 auto;
    width: 270px;
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
    color: #f4f4f4;
}

.bar {
    flex: auto;
    border: none;
    height: 1px;
    background-color: #e3e2e2;
}

.division p {
    padding: 0 10px;
}

.signUpGoogle {
    width: 92%;
    margin: 0 auto;
    padding: 9px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

.signUpGoogle img {
    width: 18px;
    margin: 0 10px;
}

.signUpGoogle span {
    font-size: 14px;
    color: #4c4c4c;
}

.terms {
    margin-top: 0.2rem;
    color: #f2f2f2;
}

.terms input {
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}

.terms label {
    font-size: 13px;
}

.terms a { /*Terms & Conditions*/
    color: #12c1fb;
    text-decoration: none;
}
.loginButton {
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: white;
    cursor: pointer;
    background-color: #61b14d; /*cadetblue*/
    font-family: 'Heebo', sans-serif;
}

.loginButton:hover {
    background-color: #eac766;
} 
.member {
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #f2f2f2;
}

.member a {/*Login Here*/
    color: #12c1fb;
    text-decoration: none;
}

.recover {
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 0.8rem 0.5rem 0;
}

.recover a {
    text-decoration: none;
    color: #f2f2f2;
}

/*-----------------아웃사이드 네비바-------------*/
.nav_outside {
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    top: 0%;
    width: 100%;
    height: 70px;
}

.logo_outside {
    padding: 10px;
}

.logo_outside img {
    width: 200px;
}

.nav_outside ul {
    list-style: none;
    padding-top: 14px;
}

.nav_outside_item {
    display: inline-block;
    padding-right: 50px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Heebo', sans-serif;
}

.nav_outside_item a {
    display: block;
    text-decoration: none;
    color: #4d693f;
    cursor: pointer;
}

/*------------------푸터시작-------------------*/
footer {
    position: sticky;
    top: 100%;
    /*position: relative;*/
    /*transform: translateY(-100%);*/
    width: 100%;
    height: 250px;
    margin: 0 auto;
    font-family: 'Heebo', sans-serif;
    background-color: #4d693f;
}

#footer_wrapper {
    padding-top: 10px;
    margin: 0 auto;
    width: 1300px;
    height: 70%;
    display: flex;
}

#first_footer {
    width: 30%;
    text-align: center;
    /*border: 2px solid #757575;*/
}

.footer_logo {
    /*푸터의 로고를 감싸는 부분*/
    width: 100%;
    height: 55%;
    padding: 15px;
}

.footer_logo img {
    width: 220px;
}

#first_footer p {
    padding-top: 10px;
    font-size: 20px;
    color: #f5f5e9;
}

.sns {
    height: 45%;
    padding-top: 40px;
}

.sns img {
    width: 30px;
}

#second_footer {
    width: 70%;
    display: flex;
    padding: 0 140px
}

.footer_nav1 {
    padding-top: 20px;
    width: 50%;
    text-align: center;
    color: #f5f5e9;
}

.footer_nav1 a {
    /*ABOUT US 의 링크부분*/
    text-decoration: none;
    color: #f5f5e9;
}

.footer_nav1 ul {
    list-style: none;
}

.footer_nav1 ul li {
    font-size: 15px;
    padding: 1px;
}

.footer_nav1 h3 {
    font-size: 19px;
    margin-bottom: 7px;
}

.footer_nav2 {
    padding-top: 40px;
    width: 50%;
    text-align: center;
    color: #f5f5e9;
}

select {
    width: 200px;
    height: 40px;
    padding-left: 10px;
    margin-top: 20px;
    border: 2px solid #f5f5e9;
    border-radius: 50px;
}

#copy {
    padding: 35px;
    text-align: center;
    width: 100%;
    height: 30%;
    color: #f5f5e9;
    background-color: #4d693f;
    font-size: 13px;
}
